<!doctype html>
<html>

<head>
  <title>browser_variable_explorer</title>
</head>

<body>
  <h1 id="div1">DEBUG: templates/index.html</h1>

  <div id="main-content">
    <div class="sidenav-bg-overlay"></div>
    <div class="sidenav">
      <div class="container">
        <a href="javascript:void(0)" class="close-btn">&times;</a>
        <div class="accordion" id="accordionExample"></div>
      </div>
    </div>
    
    <span class="open-btn btn btn-primary">Open sidenav</span>
    <a class="btn btn-primary bookmarklet"
      href="javascript:(function(){var%20bvexplorer=document.createElement('SCRIPT');bvexplorer.type='text/javascript';bvexplorer.src='http://localhost:9001/main.bundle.js';document.getElementsByTagName('head')[0].appendChild(bvexplorer);})();"
      onclick="javascript:return false;">browser_variable_explorer</a>

    <h2>Test scenarios:</h2>
    <span>Add new window variables inc. setTimeout</span>
  </div>

</body>

</html>